app==0.0.2
appnope==0.1.0
appscript==1.0.1
Babel==1.3
backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
blinker==1.3
bpython==0.12
certifi==2015.11.20.1
decorator==3.4.0
disqus==0.0.4
disqus-python==0.4.2
docutils==0.11
envoy==0.0.2
feedgenerator==1.7
Flask==0.10.1
Flask-Babel==0.9
Flask-Login==0.2.11
Flask-Mail==0.9.0
Flask-OpenID==1.2.1
Flask-SQLAlchemy==1.0
Flask-WhooshAlchemy==0.56
Flask-WTF==0.10.0
flup==1.0.2
functools32==3.2.3.post2
GDAL==1.11.1
gnureadline==6.3.3
ipykernel==4.2.2
ipython==4.1.1
ipython-genutils==0.1.0
ipywidgets==4.1.1
itsdangerous==0.24
Jinja==1.2
Jinja2==2.7.2
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.1.0
jupyter-core==4.0.6
lmfit==0.7.4
Markdown==2.4
MarkupSafe==0.19
matplotlib==1.3.1
mistune==0.7.1
mpld3==0.1
nbconvert==4.1.0
nbformat==4.0.1
nose==1.3.3
notebook==4.1.0
numpy==1.8.1
osascript==0.0.4
path.py==8.1.2
pbr==0.10.0
pelican==3.3
pelican-youtube==0.1.0
pexpect==4.0.1
pickleshare==0.6
Pillow==2.7.0
ptyprocess==0.5.1
pyechonest==8.0.2
Pygments==1.6
pykalman==0.9.5
pyparsing==2.0.2
python-dateutil==2.2
python-openid==2.2.5
pytz==2013.9
pyzmq==14.5.0
qtconsole==4.1.1
scipy==0.14.0
simplegeneric==0.8.1
simplejson==3.5.3
singledispatch==3.4.0.3
six==1.5.2
speaklater==1.3
SQLAlchemy==0.9.7
sqlalchemy-migrate==0.9.1
stevedore==0.14.1
Tempita==0.5.2
terminado==0.6
tornado==4.3
traitlets==4.1.0
Unidecode==0.4.14
virtualenv==1.11.4
virtualenv-clone==0.2.4
virtualenvwrapper==4.2
webassets==0.9
Werkzeug==0.9.6
Whoosh==2.6.0
WTForms==2.0.1
